@page "/actorsDB"


@using BlazorApp_firstProgram.Data
@inject BlazorApp_firstProgram.IService.IServiceObj<Actor> actorService
<body>
    <h3>All actors in our DataBase</h3>
    <div class="row">
        <div class="col-nd-4">
            <label>Input your password to have a permission(after press "ENTER"):</label>
        </div>
        <div class="col-nd-8">
            <input @bind="password" style="width:40%;" placeholder="Password" />
        </div>
    </div>


    @if (Service.ServiceUser.EqualPasswords(password) != true)
    {
        <h4>Sorry, your r not allow to change info of tickets.Only see info</h4>
        <table class="table">
            <thead>
                <tr>

                    <th> № </th>

                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Rating</th>
                    <th>Hometown</th>
                    <th>Movies count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in usersArr)
                {
                    <tr>
                        <th> @(indexU+1) </th>
                        <td>@person.FirstName</td>
                        <td>@person.LastName</td>
                        <td>@person.Rating</td>
                        <td>@person.HomeTown</td>
                        <td>@person.CountOfMovie</td>

                    </tr>
                }
            </tbody>

        </table>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>

                    <th> № </th>
                    <th>Id</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Rating</th>
                    <th>Hometown</th>
                    <th>Movies count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in usersArr)
                {
                    <tr>
                        <th> @(indexA+1) </th>
                        <td>@person.Id</td>
                        <td>@person.FirstName</td>
                        <td>@person.LastName</td>
                        <td>@person.Rating</td>
                        <td>@person.HomeTown</td>
                        <td>@person.CountOfMovie</td>
                        <td>
                            <button class="btn btn-primary" @onclick="@(e=>Edit(@person.Id))">Edit</button>
                            <button class="btn btn-danger" @onclick="@(e=>Delete(@person.Id))" style="float:right">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-nd-4">
                <h3>This block is only for editing and adding new info:</h3>
                <label>Firstname:</label>
            </div>
            <div class="col-nd-8">
                <input @bind="person.FirstName" style="width:40%;" placeholder="Firstname" />
            </div>
        </div>
        <div class="row">
            <div class="col-nd-4">
                <label>Lastname:</label>
            </div>
            <div class="col-nd-8">
                <input @bind="person.LastName" style="width:40%;" placeholder="Lastname" />
            </div>
        </div>
        <div class="row">
            <div class="col-nd-4">
                <label>Where is she/he from?:</label>
            </div>
            <div class="col-nd-8">
                <input @bind="person.HomeTown" style="width:40%;" placeholder="HomeTown" />
            </div>
        </div>
        <div class="row">
            <div class="col-nd-4">
                <label>Her/his rating:</label>
            </div>
            <div class="col-nd-8">
                <input @bind="person.Rating" type="number" style="width:40%;" placeholder="Rating" />
            </div>
        </div>
        <div class="row">
            <div class="col-nd-4">
                <label>In how many movies he/she filmed?:</label>
            </div>
            <div class="col-nd-8">
                <input @bind="person.CountOfMovie" type="number" style="width:40%;" placeholder="Movies" />
            </div>
        </div>

        <div class="row">
            <div class="col-nd-4"></div>
            <div class="col-nd-8">
                <button class="btn btn-primary" @onclick="@(e=>Save())">Save</button>
                <button class="btn btn-danger" @onclick="@(e=>Reset())" style="float:right">Reset</button>
            </div>
        </div>
    }
</body>


@code {
    int indexA = 0;
    int indexU = 0;
    string password;
    Actor person = new Actor();
    List<Actor> usersArr = new List<Actor>();

    protected override async Task OnInitializedAsync()
    {
        GetUsers();
    }
    private void GetUsers()
    {
        usersArr = actorService.GetUsers();
    }
    private void Save()
    {
        actorService.SaveOrUpdate(person);
        Reset();
        GetUsers();
    }
    private void Reset()
    {
        person = new Actor();
    }
    private void Edit(string userId)
    {
        person = actorService.GetUser(userId);
    }
    private void Delete(string userId)
    {
        actorService.Delete(userId);
        GetUsers();
    }
}
