@page "/popcorn"
<head>

    <title><h1><b>Different tastes of popcorn</b></h1></title>
</head>
<body>

    <div>
    <h3><b>Sweet popcorn</b></h3>

   

    <div class="row">
        <div class="column">
            <h4>Caramel popcorn</h4>
            <img itemprop="image" alt="Caramel popcorn" src="http://cdn.shopify.com/s/files/1/1785/0167/products/Caramel_bowl_xxl_1200x1200.jpg?v=1568890451">
            <p>Current count: @currentPopCornCaramel</p>
            <button class="btn btn-primary" @onclick="IncrementPopCornCaramel">Add to cart</button>
            @if (@currentPopCornCaramel > 0)
            {
                <button class="btn btn-primary" @onclick="IncrementPopCornCaramelMinys">Delete from cart</button>
            }

            <h4>Sugar popcorn</h4>
            <img itemprop="image" alt="Sugar popcorn" src="https://www.seriouseats.com/thmb/O_efsj3CeoxGlLPQcF1u0tHOX68=/1500x1125/filters:fill(auto,1)/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__recipes__images__2017__06__20170523-chocolate-popcorn-vicky-wasik-13-635a4832ab4c438eb5bd541e930a0461.jpg">
            <p>Current count: @currentPopCornSugar</p>
            <button class="btn btn-primary" @onclick="IncrementPopCornSugar">Add to cart</button>
            @if (@currentPopCornSugar > 0)
            {
                <button class="btn btn-primary" @onclick="IncrementPopCornSugarMinys">Delete from cart</button>
            }
            </div>
        </div>

            <div><h3><b>Salted popcorn</b></h3></div>


            <div3>
                <h4>Popcorn with bacon</h4>
                <img itemprop="image" alt="Bacon popcorn" src="https://www.almostsupermom.com/wp-content/uploads/2017/01/Maple-Bacon-Popcorn-4-1024x684.jpg">
                <p>Current count: @currentPopCornBacon</p>
                <button class="btn btn-primary" @onclick="IncrementPopCornBacon">Add to cart</button>
                @if (@currentPopCornBacon > 0)
                {
                    <button class="btn btn-primary" @onclick="IncrementPopCornBaconMinys">Delete from cart</button>
                }
            </div3>

            <div4>
                <h4>Popcorn with cheese</h4>
                <img itemprop="image" alt="Cheese popcorn" src="https://cdn.cdkitchen.com/recipes/images/2019/09/41489-8762-mx.jpg">
                <p>Current count: @currentPopCornCheese</p>
                <button class="btn btn-primary" @onclick="IncrementPopCornCheese">Add to cart</button>
                @if (@currentPopCornCheese > 0)
                {
                    <button class="btn btn-primary" @onclick="IncrementPopCornCheeseMinys">Delete from cart</button>
                }
            </div4>

            <div5>
                <h4>Salted popcorn</h4>
                <img itemprop="image" alt="Salted popcorn" src="https://www.indiewire.com/wp-content/uploads/2020/09/movietheaterpopcornticket.jpeg">
                <p>Current count: @currentPopCornSalt</p>
                <button class="btn btn-primary" @onclick="IncrementPopCornSalt">Add to cart</button>
                @if (@currentPopCornSalt > 0)
                {
                    <button class="btn btn-primary" @onclick="IncrementPopCornSaltMinys">Delete from cart</button>
                }
            </div5>
        </div>
</body>

@code {
    private int currentPopCornCheese = 0;
    private int currentPopCornCaramel = 0;
    private int currentPopCornBacon = 0;
    private int currentPopCornSalt = 0;
    private int currentPopCornSugar = 0;

    private void IncrementPopCornBacon()
    {
        currentPopCornBacon++;
    }
    private void IncrementPopCornBaconMinys()
    {
        currentPopCornBacon--;
    }

    private void IncrementPopCornCheese()
    {
        currentPopCornCheese++;
    }
    private void IncrementPopCornCheeseMinys()
    {
        currentPopCornCheese--;
    }

    private void IncrementPopCornCaramel()
    {
        currentPopCornCaramel++;
    }
    private void IncrementPopCornCaramelMinys()
    {
        currentPopCornCaramel--;
    }

    private void IncrementPopCornSalt()
    {
        currentPopCornSalt++;
    }
    private void IncrementPopCornSaltMinys()
    {
        currentPopCornSalt--;
    }

    private void IncrementPopCornSugar()
    {
        currentPopCornSugar++;
    }
    private void IncrementPopCornSugarMinys()
    {
        currentPopCornSugar--;
    }
}
